*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    position: relative;
    width: 1100px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: violet 5px solid;
}

.container img{
    position: absolute;
    width: 103%;
    height: 103%;
    top: 0;
    left: 0;
    
}
