*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    
    width: 1700px;
    height: 780px;
    position: relative;
}
.ciervo{
    position: absolute;
   z-index: 3;
}

.fondo{
position: absolute;
z-index: 1;
}
.arbol{
    position: absolute;
   z-index: 2;
}
.container1:hover .fondo{
    animation-name: fondok;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.container1:hover .arbol 
 {
    animation-name: arbolk;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   animation-timing-function: linear;
}


@keyframes fondok {
    0%   {transform: translateX(0px);}
    25%  {transform: translateX(-25px);}
    50%  {transform: translateX(0);}
    75% {transform: translateX(25px);}
    100% {transform: translateX(0);}
}
@keyframes arbolk{
    0%   {transform: translateX(0);}
    25%  {transform: translateX(25px);}
    50%  {transform: translateX(0);}
    75% {transform: translateX(-25px);}
    100% {transform: translateX(0);}
   
}