*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    
    width: 1700px;
    height: 780px;
    position: relative;
    animation-name: fondo,arbol,ciervo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    
}

.container1:hover{
    animation-play-state: paused;
}

@keyframes fondo {
    from{
        
        transform: translateX(-50px);
        background-image: url(/Ciervo1/image/3-Fondo-removebg.png);
        position: absolute;
    }
    to{
        
        transform: translateX(150px);
        background-image: url(/Ciervo1/image/3-Fondo-removebg.png);
        position: absolute;
    }
}
@keyframes arbol{
    from{
        
        transform: translateX(-50px);
        background-image: url(/Ciervo1/image/1-Arboles.png);
        position: absolute;
    }
    to{
        
        transform: translateX(150px);
        background-image: url(/Ciervo1/image/1-Arboles.png);
    }
}